<body>
<div *ngIf="errorpage">
    Sorry, not able to find what you are looking for
</div>

<div *ngIf="vieweditform" id="divlogoutbutton">
	<form>
		<button class="btn btn-secondary" id="logoutbutton" (click) = "logout()">Logout</button>
	</form>
</div>

<div id="resultform" *ngIf="vieweditform">
    <h2 id="resultformheading">
    ADD A NEW RESULT
    </h2>
</div>


<div *ngIf="vieweditform" id="newresult">
    <form>
        <div class="form-group row" id="studentrollnumber">   
            <div id="studentrollnumberlabel">
                <h5>
                    Roll Number
                </h5>
            </div>
        <input value = "{{studentid}}" id="inputstudentrollnumber" readonly>
        </div>
        
        <div class="form-group row" id="studentname">
            <div id="studentnamelabel">
                <h5>
                    Name
                </h5>
            </div>
            <input value = "{{studentname}}" id="inputstudentname" readonly>
        </div>    
    <div class="form-group row" id="studentdob">
        <div id="studentdoblabel">
            <h5>
                Birth Date
            </h5>
        </div>
        <input type = "date" name="studentdob" id="inputstudentdob" required [(ngModel)]="studentdob">
    </div>
    <div class="form-group row" id="studentscores">
        <div id="studentscoreslabel">
            <h5>
                Scores
            </h5>
        </div>
        <input type = "number" name="studentscores" id="inputstudentscores" required [(ngModel)]="studentscores">
    </div>
    <button type="button" id="resultsubmitbutton" class="btn btn-success" (click)="editForm()">Submit</button>
    </form>
</div>

<div *ngIf="vieweditform" id="canceldiv">
	<form>
		<button (click) = "cancel()" class="btn btn-danger" id="cancelbutton">Cancel</button>
	</form>
</div>
</body>
    
    
    
   