body{
    background-color: #EADEDA;
    border:2px solid black;
    min-height:100vh;
	display:flex;
	flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    background: #2E294E;
    color: #EADEDA;
    border-bottom:2px solid black;
}
footer{
    background: #2E294E;
    color: #EADEDA;
    padding:0.1em;
    margin-top: auto;
    text-align: center;
    border-top:2px solid black;
    font-family: 'Pacifico', cursive;
}